:root {
  --ev-c-white: #c0c0ff;
  --ev-c-white-soft: #00c0ff;
  --ev-c-white-mute: #c000ff;

  --ev-c-black: #004040;
  --ev-c-black-soft: #004030;
  --ev-c-black-mute: #003040;

  --ev-c-gray-1: #008080;
  --ev-c-gray-2: #008060;
  --ev-c-gray-3: #006080;

  --ev-c-text-1: rgba(0, 10, 0, 0.86);
  --ev-c-text-2: rgba(10, 20, 10, 0.6);
  --ev-c-text-3: rgba(20, 10, 20, 0.38);

  --ev-button-alt-border: transparent;
  --ev-button-alt-text: var(--ev-c-text-1);
  --ev-button-alt-bg: var(--ev-c-gray-3);
  --ev-button-alt-hover-border: transparent;
  --ev-button-alt-hover-text: var(--ev-c-text-1);
  --ev-button-alt-hover-bg: var(--ev-c-gray-2);
}

:root {
  --color-background: var(--ev-c-white);
  --color-background-soft: var(--ev-c-white-soft);
  --color-background-mute: var(--ev-c-white-mute);

  --color-text: var(--ev-c-text-1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

ul {
  list-style: none;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background-color: var(--color-background);
  line-height: 1.6;
  font-family: Barlow, Tahoma, Verdana, sans-serif;
  text-rendering: optimizeLegibility;
}
