@import './base.css';

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('./wavy-lines.svg');
  background-size: cover;
}

h1, h2, h3, h4, h5, h6 {text-align: center; font-family: Optima LT Pro, Verdana, Tahoma, sans-serif; font-weight: bold;}
header {background-color: #0080ff; color: #000000; width: 100%; position: absolute; top: 0; left: 0; text-transform: lowercase; padding: 0px 100px;}
header h1 {font-size: 5em; text-align: left;}
header h2 {text-align: right;}
/*footer {position: fixed; bottom: 0; left: 0; max-width: 350px; border: 3px solid;}*/
a {font-weight: bold;}
a:link {color: #ff00ff;}
a:visited {color: #800080;}
a:hover {color: #ffffff;}

code {
  font-weight: 600;
  padding: 3px 5px;
  border-radius: 2px;
  background-color: var(--color-background-mute);
  font-family: monospace;
  font-size: 85%;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.text {
  font-size: 28px;
  color: var(--ev-c-text-1);
  font-weight: 700;
  line-height: 32px;
  text-align: center;
  margin: 0 10px;
  padding: 16px 0;
}

main {
  padding-top: 167px;
  display: grid;
  gap: 1em;
  grid-template-columns: 1fr 3fr;
}

main > article:first-child {
  grid-column: 1;
}

main > article:last-child {
  grid-column: 2;
  & > .react-tabs > ul {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    padding-inline-start: 0;
    font-size: smaller;
    & > li {
      text-align: center;
      font-weight: bold;
      cursor: pointer;
      border: 1px solid black;
    }
  }
}

.move-table {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  justify-items: center;
}

.level-list, .boss-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}
.level-list img:nth-of-type(3n),
.level-list img:nth-of-type(3n + 2),
.boss-list img:nth-of-type(3n),
.boss-list img:nth-of-type(3n + 2) {
  cursor: pointer;
}
.level-list > section, .boss-list section {
  display: grid;
  justify-items: center;
}
.level-list > section {
  grid-template-columns: 1fr 14ex 1fr 1fr;
}
.boss-list section {
  grid-template-columns: 1fr 14ex 1fr;
}
.level-list > .level2, .boss-list > .boss2 {
  grid-row: 2;
}
.level-list > .level3, .boss-list > .boss3 {
  grid-row: 3;
}
.level-list > .level4, .boss-list > .boss4 {
  grid-row: 4;
}
.level-list img, .boss-list img {
  height: 24px;
}

.ending {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.ending > div {
  font-size: larger;
  margin: 0 auto;
  text-align: center;
}
.ending > div > span:first-child::after {
  content: " ";
}
.ending > section {
  grid-row: 2;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.ending > section:last-child > img {
  margin-left: auto;
}

.count-icon,
.slam-icon,
.double-icon,
.simple-icon,
.check-icon {
  position: relative;
  cursor: pointer;
}

.count-icon > span {
  position: absolute;
  left: 0px;
  color: gold;
  background-color: black;
  font-weight: bold;
  font-size: 12px;
  line-height: 1;
}

.simple-icon > span {
  position: absolute;
  left: 0px;
  color: red;
  background-color: black;
  font-weight: bold;
  font-size: 12px;
  line-height: 1;
}
.simple-icon.have > span {
  color: green;
}

.generator-settings > span {
  cursor: pointer;
}

.hint-drops {
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.hint-section h3 {
  margin: 0 auto;
  text-align: center;
}

.hint-drops {
  height: 18vh;
}

.hint-drops > *:nth-child(even) {
  cursor: pointer;
}

.runtime-settings > h3 {
  margin: 0 auto;
  text-align: center;
}

.runtime-settings > div {
  display: grid;
  grid-template-columns: 15fr 1fr;
}

.runtime-settings > div > span {
  cursor: pointer;
  text-align: right;
}

.modal-settings > .pool {
  display: grid;
  grid-template-columns: repeat(3, 3fr 1fr);
}
.modal-settings > .pool > h3, .modal-settings > .pool > h4 {
  margin: 0 auto;
  display: flex;
  grid-column-start: 1;
  grid-column-end: 7;
}

.switchsanity-settings > h4 {
  text-align: center;
}
.switchsanity-settings > section {
  display: grid;
  grid-template-columns: 7fr 1fr;
  height: 27vh;
}
.switchsanity-settings > section > img {
  text-align: right;
  margin-left: auto;
}

.reset {
  display: grid;
  grid-template-columns: 3fr 2fr;
}

main .grid {
  display: grid;
  grid-template-columns: 4fr 2.5fr 0.5fr;
}

.grid > .checked:nth-of-type(3n + 1) > span:first-child,
.grid > .checked:nth-of-type(3n + 2) {
  /* display: none; */
  text-decoration: line-through;
}

.grid > .checked:nth-of-type(3n + 1)::after {
  /* content: '  ✓'; */
  text-decoration: none;
}

.grid > .checked > span + span {
  text-decoration: none;
}

.not-available
{
  color: #ff0000;
}

.logic-break {
  color: #ffff00;
}

.available {
  color: #00ff00;
}

.grid > .foolish, div.grid.foolish {
  color: red;
  font-weight: bold;
}
.grid > .woth {
  color: gold;
}

.full-grid {grid-column: span 6;}

.react-tabs__tab--selected {background-color: #ffffff;}

.all-bosses {background-color: #800000;}

@media (max-width: 720px) {
  .text {
    font-size: 20px;
  }
}
